# Node.js

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.cache/

# SvelteKit

.svelte-kit/
.svelte-kit-output/
.vercel/
.netlify/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.env.*.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
logs
*.log
